/*---------CUSTOMIZAÇÃO DO CORPO DA PÁGINA----------*/
body {
    margin: 0; /*retirar as margens da página*/
    font-family: sans-serif;  
}

/*-----------------CUSTOMIZAÇÃO DO CABEÇALHO-------------------*/
header {
    display: flex;
    justify-content: space-between; /*adiciona um espaço entre o logo e os botões da navbar*/
    align-items: center; /*faz o alinhamento dos itens na horizontal no centro da navbar*/
    padding: 10px 60px 10px 20px; /*borda dos itens dentro do padding no sentido horário*/
    background-color: black;
}

/*----------------CUSTOMIZAÇÃO DO LOGO DA NAVBAR--------------------*/
.logoNav {
    width: 250px; /*define o tamanho do logo*/
}

/*----------CUSTOMIZAÇÃO DOS BOTÕES DA NAVBAR-----------*/
.menuNav {
    list-style: none; /*desabilita o estilo de lista*/
    display: flex; 
    gap: 30px; /*espaçamento entre os botões da navbar*/
}

.menuNav a {
    text-decoration: none; /*desabilita o estilo de "hiperlink" dos botões*/
    color: white;
    font-weight: bold;
}

.menuNav li a:hover {
    color: #F20000;
}

/*----------------CUSTOMIZAÇÃO DO BANNER ANIMADO-------------------*/
.banner {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 0px 0px 80px 0px;
}

.banner img {
    width: 100%;
    height: auto;
}
